<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vidnoz 所有语言后台部署</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="//qidian.gtimg.com/lulu/theme/peak/css/common/ui.css"
    />
    <link rel="stylesheet" href="/stylesheets/deploy.css" />
    <script src="/javascripts/socket.io.min.js"></script>
  </head>
  <body>
    <div class="wrappper">
    <div class="wrapper__back"></div>
    <div class="wrappper__main">
        <!-- <p>选择语言:</p> -->
        <div class="checkboxes">
          <div class="lan_boxs lan_all">
            <input type="checkbox" id="all" name="all">
            <label for="all" class="ui-checkbox"></label>
            <label for="all" style="padding-left: 5px;">all</label>
          </div>
          <!-- <hr> -->
          <% lans.forEach(function(lan, idx){ %>
            <div class="lan_boxs">
              <input type="checkbox" id="checkbox<%=idx%>" value="<%=lan%>" name="checkbox">
              <label for="checkbox<%=idx%>" class="ui-checkbox"></label>
              <label for="checkbox<%=idx%>" style="padding-left: 5px;"><%=lan%></label>
            </div>
          <% }); %>
        </div>
       <div class="wrapper__btns">
        <a href="javascript:" class="ui-button ui-button-warning all-deploy" role="button"
        >DEPLOY</a>
      </div>
      <pre id="pre" style="display: none;" data-lans="<%= JSON.stringify(lans) %>"></pre>
    </div>
    <script src="/javascripts/jquery.js"></script>
    <script src="//qidian.gtimg.com/lulu/theme/peak/js/common/all.js"></script>
    <script src="/javascripts/deploy.js"></script>
  </body>
</html>
