<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vidnoz 通过 FTP 上传代码</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="//qidian.gtimg.com/lulu/theme/peak/css/common/ui.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.34.1/min/vs/editor/editor.main.css"
    />
    <link rel="stylesheet" href="/stylesheets/ftp.css" />
    <script src="/javascripts/socket.io.min.js"></script>
  </head>
  <body>
    <div class="wrappper">
      <div class="wrapper__back"></div>
      <div class="wrappper__env">
        <!-- <p>选择环境：</p> -->
        <div class="wrappper__env_item">
          <input type="radio" id="radio1" name="env" value="test" checked />
          <label for="radio1" class="ui-radio"></label
          ><label for="radio1" style="padding-left: 5px;">TEST</label>
        </div>
        <div class="wrappper__env_item">
          <input type="radio" id="radio2" value="production" name="env" />
          <label for="radio2" class="ui-radio"></label
          ><label for="radio2" style="padding-left: 5px;">PRODUCTION</label>
        </div>
      </div>
      <div class="wrappper__lans">
        <!-- <p>选择语言：</p> -->
        <div class="wrappper__lans_list">
          <% lans.forEach(function(lan, idx){ %>
            <div class="wrappper__lans_item">
              <input type="checkbox" id="checkbox<%=idx%>" value="<%=lan%>" name="lan" />
              <label for="checkbox<%=idx%>" class="ui-checkbox"></label>
              <label for="checkbox<%=idx%>" style="padding-left: 5px;"><%=lan%></label>
              <input class="ui-input input-<%=lan%>" placeholder="输入 commitIds, 逗号分隔" />
              <a href="javascript:" class="ui-button ui-button-primary pull-new-code" data-lan="<%=lan%>" title="Pull Code" role="button"><svg t="1729820206584" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4299" width="30" height="30"><path d="M512 960C264.96 960 64 759.04 64 512S264.96 64 512 64s448 200.96 448 448-200.96 448-448 448z m0-832c-211.744 0-384 172.256-384 384s172.256 384 384 384 384-172.256 384-384-172.256-384-384-384z m182.56 394.144c-12.544-12.608-33.376-12.64-45.952-0.064L544 625.984V319.328c0-17.76-14.208-32.16-32-32.16-17.76 0-32 14.4-32 32.16v308.32L374.784 520.96c-12.48-12.608-32.704-12.736-45.312-0.256-12.64 12.512-12.672 32.896-0.192 45.504l159.36 161.056a32.187 32.187 0 0 0 22.88 9.568c8.16 0 16.384-3.168 22.624-9.312l0.064-0.128c0.032 0 0.064 0 0.096-0.064l160.192-159.68c12.576-12.544 12.608-32.928 0.064-45.504z" fill="#ffffff" p-id="4300"></path></svg></a>
            </div>
            <% }); %>
        </div>
      </div>
      <div class="wrappper__getFiles">
        <a href="javascript:" class="ui-button ui-button-primary getFiles" role="button">GET</a>
        <a href="javascript:" class="ui-button ui-button-primary preview" role="button">PREVIEW</a>
        <a href="javascript:" class="ui-button ui-button-success upload" role="button">UPLOAD</a>
      </div>
    </div>
    <script src="/javascripts/jquery.js"></script>
    <script src="//qidian.gtimg.com/lulu/theme/peak/js/common/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.34.1/min/vs/loader.js"></script>
    <script src="/javascripts/ftp.js"></script>
  </body>
</html>
