<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vidnoz 通过 FTP 上传代码</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="//qidian.gtimg.com/lulu/theme/peak/css/common/ui.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.34.1/min/vs/editor/editor.main.css"
    />
    <link rel="stylesheet" href="/stylesheets/ftp.css" />
    <script src="/javascripts/socket.io.min.js"></script>
  </head>
  <body>
    <div class="wrappper">
      <div class="wrapper__back"></div>
      <div class="wrappper__env">
        <p>选择环境：</p>
        <div class="wrappper__env_item">
          <input type="radio" id="radio1" name="env" value="test" checked />
          <label for="radio1" class="ui-radio"></label
          ><label for="radio1" style="padding-left: 5px;">Test</label>
        </div>
        <div class="wrappper__env_item">
          <input type="radio" id="radio2" value="production" name="env" />
          <label for="radio2" class="ui-radio"></label
          ><label for="radio2" style="padding-left: 5px;">Production</label>
        </div>
      </div>
      <div class="wrappper__lans">
        <p>选择语言：</p>
        <div class="wrappper__lans_list">
          <% lans.forEach(function(lan, idx){ %>
            <div class="wrappper__lans_item">
              <input type="checkbox" id="checkbox<%=idx%>" value="<%=lan%>" name="lan" />
              <label for="checkbox<%=idx%>" class="ui-checkbox"></label>
              <label for="checkbox<%=idx%>" style="padding-left: 5px;"><%=lan%></label>
              <input class="ui-input input-<%=lan%>" placeholder="输入 commitIds, 逗号分隔" />
              <a href="javascript:" class="ui-button ui-button-success pull-new-code" data-lan="<%=lan%>" role="button"><%=lan.toUpperCase()%> Pull</a>
            </div>
            <% }); %>
        </div>
      </div>
      <div class="wrappper__getFiles">
        <a href="javascript:" class="ui-button ui-button-primary getFiles" role="button">获取修改文件</a>
        <a href="javascript:" class="ui-button ui-button-primary preview" role="button">预览</a>
        <a href="javascript:" class="ui-button ui-button-warning upload" role="button">上传 FTP</a>
      </div>
    </div>
    <script src="/javascripts/jquery.js"></script>
    <script src="//qidian.gtimg.com/lulu/theme/peak/js/common/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.34.1/min/vs/loader.js"></script>
    <script src="/javascripts/ftp.js"></script>
  </body>
</html>
