<!DOCTYPE html>
<html>
  <head>
    <title>Vidnoz 官网操作面板</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="//qidian.gtimg.com/lulu/theme/peak/css/common/ui.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.34.1/min/vs/editor/editor.main.css"
    />
    <link rel="stylesheet" href="/stylesheets/mergely.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <script src="/javascripts/socket.io.min.js"></script>
  </head>
  <body>
    <div class="wrappper">
      <header class="wrappper__header">
        <a
          href="javascript:"
          class="watch-btn nav_a"
          role="button"
          title="Watch"
          ><svg t="1729139030837" class="icon" viewBox="0 0 1048 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="18661" width="256" height="256"><path d="M545.212416 431.253504l77.778944-77.776896c-84.187136-53.51424-193.875968-34.07872-251.55584 44.62592-57.694208 78.686208-43.83744 190.02368 31.739904 255.32416 75.577344 65.30048 187.322368 62.50496 256.282624-6.457344a182.061056 182.061056 0 0 0 50.767872-97.431552 40.577024 40.577024 0 0 1 26.929152-31.643648 42.450944 42.450944 0 0 1 41.4208 8.32512 42.807296 42.807296 0 0 1 14.20288 39.909376 263.59808 263.59808 0 0 1-73.29792 140.86144c-105.115648 105.117696-277.63712 103.041024-385.329152-4.651008-107.692032-107.69408-109.766656-280.213504-4.651008-385.329152 95.168512-95.17056 245.567488-102.46144 353.071104-23.113728l73.846784-73.846784c-149.563392-120.373248-366.252032-113.63328-501.88288 21.99552-145.54112 145.543168-142.667776 384.417792 6.426624 533.512192 149.110784 149.110784 387.969024 151.967744 533.512192 6.428672 59.957248-59.959296 96.221184-137.295872 105.162752-220.585984a40.624128 40.624128 0 0 1 24.635392-33.562624 42.258432 42.258432 0 0 1 41.873408 5.484544 42.92608 42.92608 0 0 1 16.859136 38.981632 446.867456 446.867456 0 0 1-128.557056 269.654016c-177.895424 177.895424-469.83168 174.37696-652.06272-7.856128C20.154368 651.872256 16.633856 359.936 194.52928 182.040576s469.83168-174.374912 652.060672 7.856128c8.282112 8.280064 12.494848 19.060736 12.632064 29.790208 0.126976 10.715136-3.815424 21.417984-11.907072 29.509632L605.247488 491.259904c10.246144 36.765696-5.308416 75.229184-37.943296 93.81888-32.63488 18.587648-74.194944 12.599296-101.343232-14.548992-27.150336-27.150336-33.10592-68.7104-14.548992-101.343232 18.587648-32.63488 57.06752-48.205824 93.831168-37.931008h-0.03072z" p-id="18662" fill="#ffffff"></path></svg></a
        >
        <a
          href="javascript:"
          role="button"
          class="nav_a all-publish"
          title="Partial Or All Publish"
          ><svg t="1729138347469" class="icon" viewBox="0 0 1025 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="11481" width="256" height="256"><path d="M23.2 347.2c-52.4 16.8 0.4 66.4 0.4 66.4l176.8 147.6 550.8-326c0 0-372 286.4-485.6 375.2l383.6 290c60.8 40 76.4 8 76.4 8l26.8-63.2 270.4-752.4c10-26-18.4-56-49.2-51.2L23.2 347.2 23.2 347.2M414.8 787.6l-146.8-109.6-0.4 212L414.8 787.6 414.8 787.6M414.8 787.6" fill="#ffffff" p-id="11482"></path></svg></a
        >
        <a
          href="javascript:"
          role="button"
          class="nav_a all-pull"
          title="Partial Or All Pull"
          ><svg t="1729138254491" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="10403" width="256" height="256"><path d="M434.468571 612.937143l-210.651428 7.387428 336.457143 340.845715 298.788571-363.008-187.977143 6.582857C656.164571 177.590857 182.857143 96.109714 182.857143 96.109714 400.969143 209.334857 426.422857 381.44 434.468571 612.937143z" p-id="10404" fill="#ffffff"></path></svg></a
        >
        <a
          href="javascript:"
          role="button"
          class="nav_a"
          onclick="iframeCover('/code-restoration')"
          title="Code Restoration By Commit"
          ><svg style="width: 25px;height: 25px;" t="1729583750249" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4318" width="256" height="256"><path d="M889.404517 433.123174c-10.946668-7.297779-14.230669-14.230669-13.622521-27.366671 4.743556-107.398979-54.733341-200.688918-151.67217-239.853664-96.69557-39.043117-205.067585-12.649483-275.491151 68.112602-8.149186 9.365483-15.446965 9.973631-26.272004 8.149187-124.06224-20.312151-241.19159 76.505048-243.745813 202.148473-0.243259 13.62252-5.473334 17.879558-16.784891 22.379855-65.315121 26.272004-107.642238 73.585937-127.954389 140.725502-2.675852 9.000594-5.108445 18.001188-7.662668 27.123412v60.693194c1.094667 2.919112 2.797482 5.594964 3.405631 8.635704C51.984396 809.202043 135.665593 877.314645 243.186201 877.314645h512.060815c106.91246 0 200.932177-69.572158 231.826108-171.376172 31.380449-103.3852-7.541038-212.973512-97.668607-272.815299zM708.784491 694.383656H467.228011v62.274379c-52.057489-31.13719-100.952607-60.449935-153.131726-91.708754 51.084452-30.650671 99.85794-59.963416 151.307282-90.857346v59.841786h243.380924v60.449935z m-150.820763-120.53498V513.277111H315.555841v-60.449934h241.678109v-61.544602c51.935859 31.13719 100.830978 60.449935 152.645208 91.465495-51.935859 31.13719-100.587718 60.328305-151.91543 91.100606z" fill="#ffffff" p-id="4319"></path></svg></a
        >
        <a
          href="javascript:"
          role="button"
          class="nav_a"
          title="Settings"
          onclick="location.href = '/settings'"
          ><svg t="1729138075642" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="8343" width="256" height="256"><path d="M745.904 682c66.168 0 120 53.832 120 120v12H984a40 40 0 1 1 0 80h-118.096V904c0 66.168-53.832 120-120 120-66.16 0-120-53.832-120-120v-102c0-66.168 53.84-120 120-120z m0 80c-22.048 0-40 17.944-40 40V904c0 22.056 17.952 40 40 40 22.056 0 40-17.944 40-40v-102c0-22.056-17.944-40-40-40z m-240 52a40 40 0 1 1 0 80H40a40 40 0 1 1 0-80zM394 338c66.168 0 120 53.832 120 120v13.76H984a40 40 0 0 1 0 80H514v10.24c0 66.168-53.832 120-120 120s-120-53.832-120-120v-104c0-66.168 53.832-120 120-120z m0 80c-22.056 0-40 17.944-40 40v104c0 22.056 17.944 40 40 40s40-17.944 40-40v-104c0-22.056-17.944-40-40-40z m-240 53.76a40 40 0 1 1 0 80H40a40 40 0 1 1 0-80zM746 0c66.168 0 120 53.832 120 120v12H984a40 40 0 1 1 0 80h-118v10c0 66.168-53.832 120-120 120s-120-53.832-120-120V120c0-66.168 53.832-120 120-120z m0 80c-22.056 0-40 17.944-40 40v102c0 22.056 17.944 40 40 40s40-17.944 40-40V120c0-22.056-17.944-40-40-40z m-240 52a40 40 0 1 1 0 80H40a40 40 0 1 1 0-80z" p-id="8344" fill="#ffffff"></path></svg></a
        >
        <a
          href="javascript:"
          role="button"
          class="nav_a"
          onclick="iframeCover('/ftp')"
          title="FTP Handle"
          ><svg t="1729779275260" class="icon" viewBox="0 0 1137 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="20257" width="256" height="256"><path d="M1137.777778 135.111111V995.555556H0V0h426.666667l110.876444 64H1137.777778v71.111111z m-71.111111 0h-406.072889L840.533333 238.933333h226.133334V135.111111z m0 174.933333h-244.224l-0.284445 0.398223L407.608889 71.111111H71.111111v853.333333h995.555556V310.044444zM421.774222 391.111111v47.388445H255.374222v106.382222h158.492445v47.388444H255.374222v163.953778h-49.152V391.111111h215.552z m281.201778 0v47.388445h-106.382222v317.895111h-50.062222V438.727111h-105.244445V391.395556h261.688889v-0.284445z m170.666667 0c76.231111 0 114.005333 36.977778 114.005333 111.160889 0 74.126222-38.570667 110.307556-114.858667 110.307556H789.617778v142.222222h-48.355556V391.054222h132.437334z m-83.342223 175.729778h79.473778c18.318222 1.251556 36.579556-4.266667 51.2-15.473778 12.060444-13.368889 18.090667-31.118222 16.668445-49.095111a60.814222 60.814222 0 0 0-16.668445-48.355556 76.231111 76.231111 0 0 0-52.394666-15.416888h-78.506667l0.341333 128.341333h-0.113778z" fill="#ffffff" p-id="20258"></path></svg></a
        >
        <% if (role !== "user") { %>
          <a
          href="javascript:"
          role="button"
          class="nav_a"
          title="Deploy"
          onclick="iframeCover('/deploy')"
          ><svg t="1729139632555" class="icon" viewBox="0 0 1342 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="24109" width="256" height="256"><path d="M475.447288 866.858225v78.570887h393.367974v-78.570887z m-197.197522 78.570887A276.79548 276.79548 0 0 1 239.22109 394.405828 429.828974 429.828974 0 0 1 670.590669 0.010784a435.991396 435.991396 0 0 1 432.910185 393.367974 273.714269 273.714269 0 0 1 237.253269 274.227804 278.849621 278.849621 0 0 1-275.254875 275.768409z m787.249482-78.570887a197.711057 197.711057 0 0 0 23.62262-393.881509l-63.164831-7.703028V402.108856a355.879903 355.879903 0 0 0-708.16506 0L311.11602 465.273688l-56.488874 7.703028a197.711057 197.711057 0 0 0 23.62262 393.881509z" p-id="24110" fill="#ffffff"></path><path d="M673.158345 311.726659l278.336086 278.336086-55.461803 55.461803-278.336086-277.822551 55.461803-55.975338z" p-id="24111" fill="#ffffff"></path><path d="M394.308724 594.171026l277.822551-278.336085 55.975338 55.461803-278.336086 278.336085-55.461803-55.461803z" p-id="24112" fill="#ffffff"></path><path d="M632.589063 394.405828h78.570888v629.594172h-78.570888V394.405828z" p-id="24113" fill="#ffffff"></path></svg></a
        >
        <% } %>
        <a
          href="javascript:"
          class="log-out red_button nav_a"
          title="log out"
          role="button"
          ><svg t="1729138118662" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="9375" width="256" height="256"><path d="M570.107 47.258H453.903V572.78h116.199V47.258z m208.86 86.886l-81.316 80.794c92.872 63.457 162.427 173.143 162.427 300.052 0 190.48-156.544 346.286-348.175 346.286-191.427 0-348.176-155.807-348.176-346.286 0-126.91 69.76-236.595 168.31-294.277l-86.994-86.569C129.055 220.713 47.733 359.188 47.733 514.99c0 254.04 209.076 461.752 464.165 461.752 255.298 0 464.368-207.708 464.368-461.752 0.005-155.802-81.31-294.277-197.299-380.846z" p-id="9376" fill="#ffffff"></path></svg></a
        >
      </header>
      <main class="wrappper__main">
        <div class="wrappper__sider">
          <div class="wrappper__sider_01">
            <!-- <p>Reference Lan:</p> -->
            <select>
              <% lans.forEach(function(lan){ %>
              <option value="<%= lan %>"><%= lan %></option>
              <% }); %>
            </select>
          </div>
          <div class="wrappper__sider_03">
            <!-- <p>Commit Ids:</p> -->
            <!-- value="77b054b92d614"  -->
            <input id="commit-ids" class="ui-input" placeholder="OR, 多个 commit id 用 , 逗号分隔">
          </div>
          <div class="wrappper__sider_02">
            <!-- <p>Select Languages:</p> -->
            <div class="wrappper__sider_02-label">
              <% lans.forEach(function(lan, idx){ %>
              <div class="div-lan div-<%= lan %>">
                <input
                  type="checkbox"
                  id="checkbox<%=idx%>"
                  value="<%= lan %>"
                  name="checkbox"
                />
                <label for="checkbox<%=idx%>" class="ui-checkbox"></label
                ><label for="checkbox<%=idx%>" style="padding-left: 5px;"><%= lan %></label>
              </div>
              <% }); %>
            </div>
            <a
              href="javascript:"
              class="ui-button ui-button-primary handle-btn"
              role="button"
              >Operate</a
            >
          </div>
        </div>
        <div class="wrappper__content">
          <div class="wrappper__content-header"></div>
          <div class="wrappper__content-content"></div>
        </div>
        <!-- <div class="wrappper__sider wrappper__sider2">
        </div> -->
      </main>
    </div>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/mergely.min.js"></script>
    <script src="//qidian.gtimg.com/lulu/theme/peak/js/common/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.34.1/min/vs/loader.js"></script>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
