<!DOCTYPE html>
<html>
  <head>
    <title>Vidnoz Manager</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="//qidian.gtimg.com/lulu/theme/peak/css/common/ui.css"
    />
    <link
      rel="stylesheet"
      href="/stylesheets/editor.main.css"
    />
    <link rel="stylesheet" href="/stylesheets/mergely.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <script src="/javascripts/socket.io.min.js"></script>
  </head>
  <body>
    <!-- 添加这个加载指示器 -->
    <div id="page-loader" style="position:fixed; z-index:9999; top:0; left:0; width:100%; height:100%; background:linear-gradient(135deg, rgba(36, 134, 255, 0.7) 0%, rgba(26, 108, 209, 0.5) 100%); display:flex; align-items:center; justify-content:center;">
      <div style="background:rgba(0,0,0,0.5); padding:20px; border-radius:4px; display:flex; flex-direction:column; align-items:center;">
        <div style="width:50px; height:50px; border:3px solid rgba(255,255,255,0.3); border-top:3px solid #fff; border-radius:50%; animation:spin 1s linear infinite;"></div>
        <div style="color:#fff; margin-top:10px; font-family:'JetBrains Mono';">Loading...</div>
      </div>
    </div>
    <style>
      @keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
    </style>
    <script>
      window.addEventListener('load', function() {
        const loader = document.getElementById('page-loader');
        if (loader) {
          setTimeout(() => {
            loader.style.opacity = '0';
            loader.style.transition = 'opacity 0.5s ease';
            setTimeout(() => loader.remove(), 500);
          }, 300);
        }
      });
    </script>
    <div class="wrappper">
      <header class="wrappper__header">
        <a
          href="javascript:"
          class="watch-btn nav_a"
          role="button"
          title="Watch"
          ><svg t="1729139030837" class="icon" viewBox="0 0 1048 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="18661" width="256" height="256"><path d="M545.212416 431.253504l77.778944-77.776896c-84.187136-53.51424-193.875968-34.07872-251.55584 44.62592-57.694208 78.686208-43.83744 190.02368 31.739904 255.32416 75.577344 65.30048 187.322368 62.50496 256.282624-6.457344a182.061056 182.061056 0 0 0 50.767872-97.431552 40.577024 40.577024 0 0 1 26.929152-31.643648 42.450944 42.450944 0 0 1 41.4208 8.32512 42.807296 42.807296 0 0 1 14.20288 39.909376 263.59808 263.59808 0 0 1-73.29792 140.86144c-105.115648 105.117696-277.63712 103.041024-385.329152-4.651008-107.692032-107.69408-109.766656-280.213504-4.651008-385.329152 95.168512-95.17056 245.567488-102.46144 353.071104-23.113728l73.846784-73.846784c-149.563392-120.373248-366.252032-113.63328-501.88288 21.99552-145.54112 145.543168-142.667776 384.417792 6.426624 533.512192 149.110784 149.110784 387.969024 151.967744 533.512192 6.428672 59.957248-59.959296 96.221184-137.295872 105.162752-220.585984a40.624128 40.624128 0 0 1 24.635392-33.562624 42.258432 42.258432 0 0 1 41.873408 5.484544 42.92608 42.92608 0 0 1 16.859136 38.981632 446.867456 446.867456 0 0 1-128.557056 269.654016c-177.895424 177.895424-469.83168 174.37696-652.06272-7.856128C20.154368 651.872256 16.633856 359.936 194.52928 182.040576s469.83168-174.374912 652.060672 7.856128c8.282112 8.280064 12.494848 19.060736 12.632064 29.790208 0.126976 10.715136-3.815424 21.417984-11.907072 29.509632L605.247488 491.259904c10.246144 36.765696-5.308416 75.229184-37.943296 93.81888-32.63488 18.587648-74.194944 12.599296-101.343232-14.548992-27.150336-27.150336-33.10592-68.7104-14.548992-101.343232 18.587648-32.63488 57.06752-48.205824 93.831168-37.931008h-0.03072z" p-id="18662" fill="#ffffff"></path></svg></a
        >
        <a
        href="javascript:"
        class="ar-switch-css nav_a"
        role="button"
        title="Normal Css/Scss Switch to AR Css/Scss">
        <svg t="1732003585604" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="11829" width="30" height="30"><path d="M601.60512 162.8928c-9.85088-9.84064-9.85088-25.58464 0-34.44224l69.90336-69.86752c9.84064-9.84064 25.6-9.84064 34.45248 0 9.85088 9.83552 9.85088 25.58464 0 34.43712L678.4 120.576h112.24064C891.07456 120.576 972.8 202.25536 972.8 302.63296v81.67936c0 13.7728-10.8288 24.6016-24.61696 24.6016-13.77792 0-24.61696-10.8288-24.61696-24.6016V301.64992c0-72.82688-59.07968-132.85376-132.93056-132.85376H678.4l27.56608 27.55584c9.85088 9.84064 9.85088 25.58464 0 34.44736-4.9152 4.92032-10.8288 6.8864-17.7152 6.8864-6.90176 0-12.8-1.96608-17.73056-6.8864l-68.9152-67.90656z m-82.70848 785.3056v-401.5104c0-13.77792 10.82368-24.60672 24.61696-24.60672h401.72544c13.78304 0 24.61696 10.82368 24.61696 24.60672v401.5104c0 13.7728-10.8288 24.6016-24.61696 24.6016h-401.72544c-12.80512 0-24.61696-10.82368-24.61696-24.6016z m49.2288-24.6016h352.49664v-352.3072h-352.49664v352.3072z m-334.7712-19.6864H345.6l-27.5712 27.56096c-9.84576 9.84064-9.84576 25.58976 0 34.44736 4.92032 4.92032 10.83392 6.8864 17.72032 6.8864 5.90848 0 12.8-1.96608 17.72544-6.8864l69.90848-69.86752c4.92032-4.92544 6.89152-10.82368 6.89152-17.72032 0-6.88128-2.95424-12.79488-6.89152-17.70496l-69.90848-69.87776c-9.84576-9.84064-25.6-9.84064-34.46272 0-9.84576 9.84576-9.84576 25.58976 0 34.45248l27.5712 27.55072H233.35424c-72.86272 0-132.92544-59.04384-132.92544-132.84864v-79.71328c0-13.7728-10.83392-24.6016-24.61696-24.6016-13.78304 0-24.61696 10.82368-24.61696 24.6016v82.66752c0.00512 99.38432 81.72544 181.05344 182.15936 181.05344zM53.16608 477.80352v-401.5104c0-13.77792 10.83392-24.6016 24.61696-24.6016h401.72544c13.78304 0 24.61696 10.82368 24.61696 24.6016V477.7984c0 13.77792-10.83392 24.6016-24.61696 24.6016H77.78304c-13.78304 0.00512-24.61696-10.81856-24.61696-24.59648zM102.4 453.20192h352.49152V100.89984H102.4v352.30208z" p-id="11830" fill="#ffffff"></path></svg>
      </a>

      <a
        href="javascript:"
        class="get-url-name nav_a"
        role="button">
        <svg t="1733884005668" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5206" width="30" height="30"><path d="M861.184 257.536h-85.504V162.816c0-80.384-65.536-145.92-145.92-145.92H174.08C93.696 16.896 28.16 82.432 28.16 162.816v99.84c0 22.528 18.432 40.96 40.96 40.96s40.96-18.432 40.96-40.96V162.816c0-35.328 28.672-64 64-64h455.68c35.328 0 64 28.672 64 64v94.72H400.384c-78.848 0-143.36 64.512-143.36 143.36v281.6H174.08c-35.328 0-64-28.672-64-64V449.024c0-22.528-18.432-40.96-40.96-40.96s-40.96 18.432-40.96 40.96v169.984c0 80.384 65.536 145.92 145.92 145.92h82.944v97.28c0 78.848 64.512 143.36 143.36 143.36h460.8c78.848 0 143.36-64.512 143.36-143.36v-460.8c0-79.36-64.512-143.872-143.36-143.872z m-522.24 143.36c0-33.792 27.648-61.44 61.44-61.44h293.376v279.04c0 35.328-28.672 64-64 64H338.944v-281.6z m583.68 460.8c0 33.792-27.648 61.44-61.44 61.44h-460.8c-33.792 0-61.44-27.648-61.44-61.44v-97.28H629.76c80.384 0 145.92-65.536 145.92-145.92V339.456h85.504c33.792 0 61.44 27.648 61.44 61.44v460.8z" fill="#ffffff" p-id="5207"></path></svg>
      </a>

      <a
        href="javascript:"
        class="nav_a One-click disabled"
        role="button"
        title="One-click Code Synchronization" style="display: none;">
        <svg t="1732415318995" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7797" width="30" height="30"><path d="M1024 682.666667a42.666667 42.666667 0 0 0-42.666667-42.666667H42.666667a42.666667 42.666667 0 1 0 0 85.333333h938.666666a42.666667 42.666667 0 0 0 42.666667-42.666666z" p-id="7798" fill="#ffffff"></path><path d="M1011.498667 712.832a42.666667 42.666667 0 0 0 0-60.330667l-341.333334-341.333333a42.666667 42.666667 0 1 0-60.330666 60.330667l341.333333 341.333333a42.666667 42.666667 0 0 0 60.330667 0z" p-id="7799" fill="#ffffff"></path></svg></svg>
      </a>
        <a
          href="javascript:"
          role="button"
          class="nav_a all-publish"
          title="Partial Or All Publish"
          ><svg t="1729138347469" class="icon" viewBox="0 0 1025 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="11481" width="256" height="256"><path d="M23.2 347.2c-52.4 16.8 0.4 66.4 0.4 66.4l176.8 147.6 550.8-326c0 0-372 286.4-485.6 375.2l383.6 290c60.8 40 76.4 8 76.4 8l26.8-63.2 270.4-752.4c10-26-18.4-56-49.2-51.2L23.2 347.2 23.2 347.2M414.8 787.6l-146.8-109.6-0.4 212L414.8 787.6 414.8 787.6M414.8 787.6" fill="#ffffff" p-id="11482"></path></svg></a
        >
        <a
          href="javascript:"
          role="button"
          class="nav_a all-discard"
          title="Partial Or All Discard"
          >
          <svg t="1754470011217" class="icon" viewBox="0 0 1027 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5059" width="30" height="30"><path d="M572.8 155.2l184 160v12.8h-153.6c-17.6 0-30.4-12.8-30.4-30.4v-142.4z m-428.8 691.2V172.8c0-17.6 12.8-30.4 30.4-30.4h337.6v153.6c0 49.6 43.2 91.2 91.2 91.2h153.6v60.8h60.8v-164.8l-233.6-201.6h-411.2c-49.6 0-91.2 43.2-91.2 91.2v673.6c0 49.6 43.2 91.2 91.2 91.2h214.4v-60.8h-214.4c-16 1.6-28.8-11.2-28.8-30.4z m638.4-108.8l153.6-153.6c6.4-12.8 6.4-30.4 0-43.2-12.8-12.8-30.4-12.8-43.2 0l-153.6 153.6-153.6-153.6c-12.8-12.8-30.4-12.8-43.2 0-12.8 12.8-12.8 30.4 0 43.2l153.6 153.6-153.6 153.6c-12.8 12.8-12.8 30.4 0 43.2 12.8 6.4 30.4 6.4 43.2 0l153.6-153.6 153.6 153.6c12.8 12.8 30.4 12.8 43.2 0 12.8-12.8 12.8-30.4 0-43.2l-153.6-153.6z" fill="#ffffff" p-id="5060"></path></svg>
          </a
        >
        <a
          href="javascript:"
          role="button"
          class="nav_a all-pull"
          title="Partial Or All Pull"
          ><svg t="1729138254491" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="10403" width="256" height="256"><path d="M434.468571 612.937143l-210.651428 7.387428 336.457143 340.845715 298.788571-363.008-187.977143 6.582857C656.164571 177.590857 182.857143 96.109714 182.857143 96.109714 400.969143 209.334857 426.422857 381.44 434.468571 612.937143z" p-id="10404" fill="#ffffff"></path></svg></a
        >
        <a
          href="javascript:"
          role="button"
          class="nav_a all-push"
          title="Partial Or All Push"
          ><svg t="1733204977898" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4314" width="30" height="30"><path d="M172.617143 953.197714c-35.254857 22.454857-11.483429 76.873143 28.891428 66.267429 16.091429-4.242286 43.008-13.165714 77.092572-27.428572a794.331429 794.331429 0 0 0 164.790857-93.110857c141.531429-104.813714 226.889143-246.930286 228.205714-429.348571l152.429715-8.045714a36.571429 36.571429 0 0 0 24.137142-62.171429L518.875429 63.853714a36.571429 36.571429 0 0 0-54.272 2.340572L159.232 434.980571a36.571429 36.571429 0 0 0 30.061714 59.830858l173.714286-9.069715c9.508571 253.074286-30.573714 365.933714-190.390857 467.456zM434.395429 445.44a36.571429 36.571429 0 0 0-38.473143-34.596571l-127.268572 6.582857L495.177143 144.091429l244.077714 248.685714-106.788571 5.632a36.571429 36.571429 0 0 0-34.669715 38.473143c9.142857 173.348571-65.389714 305.225143-197.851428 403.382857-8.996571 6.582857-18.066286 13.019429-27.355429 19.163428 58.514286-98.669714 71.753143-225.28 61.878857-413.988571z" p-id="4315" fill="#ffffff"></path></svg></a
        >
        <a
          href="javascript:"
          role="button"
          class="nav_a"
          onclick="iframeCover('/code-restoration')"
          title="Code Restoration By Commit"
          style="display: none;"
          ><svg style="width: 25px;height: 25px;" t="1729583750249" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4318" width="256" height="256"><path d="M889.404517 433.123174c-10.946668-7.297779-14.230669-14.230669-13.622521-27.366671 4.743556-107.398979-54.733341-200.688918-151.67217-239.853664-96.69557-39.043117-205.067585-12.649483-275.491151 68.112602-8.149186 9.365483-15.446965 9.973631-26.272004 8.149187-124.06224-20.312151-241.19159 76.505048-243.745813 202.148473-0.243259 13.62252-5.473334 17.879558-16.784891 22.379855-65.315121 26.272004-107.642238 73.585937-127.954389 140.725502-2.675852 9.000594-5.108445 18.001188-7.662668 27.123412v60.693194c1.094667 2.919112 2.797482 5.594964 3.405631 8.635704C51.984396 809.202043 135.665593 877.314645 243.186201 877.314645h512.060815c106.91246 0 200.932177-69.572158 231.826108-171.376172 31.380449-103.3852-7.541038-212.973512-97.668607-272.815299zM708.784491 694.383656H467.228011v62.274379c-52.057489-31.13719-100.952607-60.449935-153.131726-91.708754 51.084452-30.650671 99.85794-59.963416 151.307282-90.857346v59.841786h243.380924v60.449935z m-150.820763-120.53498V513.277111H315.555841v-60.449934h241.678109v-61.544602c51.935859 31.13719 100.830978 60.449935 152.645208 91.465495-51.935859 31.13719-100.587718 60.328305-151.91543 91.100606z" fill="#ffffff" p-id="4319"></path></svg></a
        >
        <a
          href="javascript:"
          role="button"
          class="nav_a"
          title="Settings"
          onclick="location.href = '/settings'"
          ><svg t="1729138075642" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="8343" width="256" height="256"><path d="M745.904 682c66.168 0 120 53.832 120 120v12H984a40 40 0 1 1 0 80h-118.096V904c0 66.168-53.832 120-120 120-66.16 0-120-53.832-120-120v-102c0-66.168 53.84-120 120-120z m0 80c-22.048 0-40 17.944-40 40V904c0 22.056 17.952 40 40 40 22.056 0 40-17.944 40-40v-102c0-22.056-17.944-40-40-40z m-240 52a40 40 0 1 1 0 80H40a40 40 0 1 1 0-80zM394 338c66.168 0 120 53.832 120 120v13.76H984a40 40 0 0 1 0 80H514v10.24c0 66.168-53.832 120-120 120s-120-53.832-120-120v-104c0-66.168 53.832-120 120-120z m0 80c-22.056 0-40 17.944-40 40v104c0 22.056 17.944 40 40 40s40-17.944 40-40v-104c0-22.056-17.944-40-40-40z m-240 53.76a40 40 0 1 1 0 80H40a40 40 0 1 1 0-80zM746 0c66.168 0 120 53.832 120 120v12H984a40 40 0 1 1 0 80h-118v10c0 66.168-53.832 120-120 120s-120-53.832-120-120V120c0-66.168 53.832-120 120-120z m0 80c-22.056 0-40 17.944-40 40v102c0 22.056 17.944 40 40 40s40-17.944 40-40V120c0-22.056-17.944-40-40-40z m-240 52a40 40 0 1 1 0 80H40a40 40 0 1 1 0-80z" p-id="8344" fill="#ffffff"></path></svg></a
        >
        <a
          href="javascript:"
          role="button"
          class="nav_a"
          onclick="window.open('/ftp')"
          title="FTP Handle"
          ><svg t="1733218170899" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="9751" width="100" height="100"><path d="M130.8672 634.88v71.68h159.232v71.68h-159.232V921.6H51.2v-358.4h238.9504v71.68H130.8672z m487.7824-71.68H379.7504v71.68h79.616V921.6h79.6672v-286.72h79.616V563.2z m292.7104 104.1408a45.1584 45.1584 0 0 1-45.1584 45.1584H785.92v-90.3168h80.2816c24.9344 0 45.1584 20.224 45.1584 45.1584zM855.3984 563.2h-147.1488v358.4h79.6672v-143.36h67.4816c65.9968 0 119.5008-48.128 119.5008-107.52 0-59.392-53.504-107.52-119.5008-107.52zM716.8 102.4l204.8 204.8v163.84h-81.92V341.1968L682.8032 184.32H184.32v286.72H102.4V102.4z" p-id="9752" fill="#ffffff"></path></svg></a
        >
          <a
          href="javascript:"
          role="button"
          class="nav_a"
          title="Deploy"
          onclick="window.open('/deploy')"
          ><svg t="1729139632555" class="icon" viewBox="0 0 1342 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="24109" width="256" height="256"><path d="M475.447288 866.858225v78.570887h393.367974v-78.570887z m-197.197522 78.570887A276.79548 276.79548 0 0 1 239.22109 394.405828 429.828974 429.828974 0 0 1 670.590669 0.010784a435.991396 435.991396 0 0 1 432.910185 393.367974 273.714269 273.714269 0 0 1 237.253269 274.227804 278.849621 278.849621 0 0 1-275.254875 275.768409z m787.249482-78.570887a197.711057 197.711057 0 0 0 23.62262-393.881509l-63.164831-7.703028V402.108856a355.879903 355.879903 0 0 0-708.16506 0L311.11602 465.273688l-56.488874 7.703028a197.711057 197.711057 0 0 0 23.62262 393.881509z" p-id="24110" fill="#ffffff"></path><path d="M673.158345 311.726659l278.336086 278.336086-55.461803 55.461803-278.336086-277.822551 55.461803-55.975338z" p-id="24111" fill="#ffffff"></path><path d="M394.308724 594.171026l277.822551-278.336085 55.975338 55.461803-278.336086 278.336085-55.461803-55.461803z" p-id="24112" fill="#ffffff"></path><path d="M632.589063 394.405828h78.570888v629.594172h-78.570888V394.405828z" p-id="24113" fill="#ffffff"></path></svg></a
        >
        <a
          href="javascript:"
          class="log-out red_button nav_a"
          title="log out"
          role="button"
          ><svg t="1729138118662" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="9375" width="256" height="256"><path d="M570.107 47.258H453.903V572.78h116.199V47.258z m208.86 86.886l-81.316 80.794c92.872 63.457 162.427 173.143 162.427 300.052 0 190.48-156.544 346.286-348.175 346.286-191.427 0-348.176-155.807-348.176-346.286 0-126.91 69.76-236.595 168.31-294.277l-86.994-86.569C129.055 220.713 47.733 359.188 47.733 514.99c0 254.04 209.076 461.752 464.165 461.752 255.298 0 464.368-207.708 464.368-461.752 0.005-155.802-81.31-294.277-197.299-380.846z" p-id="9376" fill="#ffffff"></path></svg></a
        >
      </header>
      <main class="wrappper__main">
        <div class="wrappper__sider">
          <div class="wrappper__sider_01">
            <!-- <p>Reference Lan:</p> -->
            <select>
              <% lans.forEach(function(lan){ %>
              <option value="<%= lan %>"><%= lan %></option>
              <% }); %>
            </select>
          </div>
          <div class="wrappper__sider_03">
            <!-- <p>Commit Ids:</p> -->
            <!-- value="77b054b92d614"  -->
            <!-- <input autocomplete="off" id="commit-ids" class="ui-input" placeholder="OR, 多个 commit id 用 , 逗号分隔"> -->
            <textarea name="" id="commit-ids" placeholder="OR, 多个 commit id 用 , 逗号分隔"></textarea>
          </div>
          <div class="wrappper__sider_02">
            <!-- <p>Select Languages:</p> -->
            <div class="wrappper__sider_02-label">
              <a
              href="javascript:"
              class="nav_a select-all-btn"
              role="button"
              >ALL</a
            >
              <% lans.forEach(function(lan, idx){ %>
              <div class="div-lan div-<%= lan %>">
                <input
                  type="checkbox"
                  id="checkbox<%=idx%>"
                  value="<%= lan %>"
                  name="checkbox"
                />
                <label for="checkbox<%=idx%>" class="ui-checkbox"></label
                ><label for="checkbox<%=idx%>"><%= lan %></label>
                <div class="lan-other">
                  <a href="javascript:" class="nav_a vs-code" title="Open <%= lan.toUpperCase() %> Vs Code" role="button" data-lan="<%= lan %>"><svg t="1729820704088" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="14901" width="30" height="30"><path d="M927.5 161.4L786.9 93.8l-43.5-20.9c-5.4-2.6-11-4.2-16.7-5h-0.2c-0.6-0.1-1.2-0.2-1.8-0.2-16.3-1.6-32.9 4-44.9 16.1 0.8-0.8 1.7-1.6 2.6-2.3-0.8 0.7-1.7 1.5-2.5 2.3L327.3 405.1 173.7 288.7c-14.3-10.9-34.4-10-47.7 2.1l-49.2 44.7c-0.9 0.8-1.7 1.6-2.5 2.5-13.8 15.2-12.7 38.8 2.6 52.6L210.1 512 76.9 633.4c-15.2 13.8-16.4 37.4-2.6 52.6 0.8 0.9 1.6 1.7 2.5 2.5l49.2 44.7c13.3 12.1 33.3 13 47.6 2.1l153.6-116.5 352.7 321.6c16.7 16.7 42.2 21.1 63.5 10.8l184.2-88.5c19.4-9.3 31.7-28.9 31.7-50.3V211.7c0-21.5-12.4-41.1-31.8-50.3zM468.1 512l267.5-202.9v405.8L468.1 512z" fill="#ffffff" p-id="14902"></path></svg></a>
                  <a href="javascript:" class="nav_a open-site" title="Copy <%= lan.toUpperCase() %> Website URL" role="button" data-lan="<%= lan %>"><svg t="1729820741115" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="16916" width="30" height="30"><path d="M536.704 162.944a229.312 229.312 0 0 1 324.352 324.352L755.84 595.2a42.688 42.688 0 0 1-61.056-59.584l105.728-108.416a144 144 0 1 0-203.648-203.648l-0.384 0.384-108.032 105.344a42.688 42.688 0 0 1-59.52-61.056l107.776-105.216zM702.08 321.92c16.64 16.64 16.64 43.648 0 60.288l-320 320a42.688 42.688 0 0 1-60.288-60.352l320-320c16.64-16.64 43.648-16.64 60.288 0z m-373.696 106.24c16.896 16.512 17.28 43.52 0.768 60.352L223.488 596.864a144 144 0 1 0 203.648 203.648l0.384-0.384 108.032-105.344a42.688 42.688 0 1 1 59.52 61.056l-107.776 105.152a229.312 229.312 0 0 1-324.288-324.288L268.16 428.8a42.688 42.688 0 0 1 60.288-0.768z" fill="#ffffff" p-id="16917"></path></svg></a>
                </div>
              </div>
              <% }); %>
            </div>
            <div class="btns-handle">
              <a
              href="javascript:"
              class="ui-button ui-button-primary handle-btn"
              role="button"
              >Operate</a
            >
            </div>
          </div>
        </div>
        <div class="wrappper__content">
          <div class="wrappper__content-header"></div>
          <div class="wrappper__content-content"></div>
        </div>
        <!-- <div class="wrappper__sider wrappper__sider2">
        </div> -->
      </main>
    </div>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/mergely.min.js"></script>
    <script src="//qidian.gtimg.com/lulu/theme/peak/js/common/all.js"></script>
    <script src="/javascripts/loader.js"></script>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
